:root {
    --background-colour: #db94ec;
    --title-colour:#000000;
}

/* Dark Theme Overrides */
[data-theme="dark"] {
    --background-colour: #29093f;
    --title-colour:#ffffff;
}

body {
    background-color: var(--background-colour);

    transition: background-color 0.9s ease, color 0.9s ease;
}

h1{
    color: var(--title-colour)
}